.nav__ul{
    background: #575454;/*color de la pantalla*/
}
h2{
    text-align: center;
    width: 150px;
    height: 30px;
    /*le movimos 20 px*/
    position: relative;/*se sigue conservando el espacio */
    top: 10px;/*arriba----se mueve 20 px hacia abajo*/
    left: 10px;/*izquierda*/
    right: 10px;/*derecha*/
    bottom: 10px;/*abajo*/

}
.imagen-g{
    background: #003dc1;/*color de la pantalla*/
    height: 710px;/*arriba abajo*/
    width: 1348px;/*izquierda derecha*/

}
/*es el logo en la parte superior izquierda*/
.fuerza{
    top: 0px;
    left: 100px;
    position: absolute;
    height: 70px;
    width: 140px;
}

/**+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.container{/*es la posicion de la caja padre es mas grande*/
    /*margin: 50px auto; lo que hace es entrarlo*/
    position: relative;
    height: 1px;

    left: 890px;/*posicion a la  derecha*/
    top: 100px;
}

/*modificamos el titulo tamaño color etc*/
.letra{
    position: relative;
    top: 110px;
    left: 300px;
    /*tamaño de letra*/
    font-size: 50px;
}
.nombre{
    position: relative;
    left: 100px;
    top: 60px;
    color: rgb(24, 22, 22);/*color del texto*/
}
.apellido{
    position: relative;
    left: 100px;
    top: 70px;
    color: rgb(24, 22, 22);/*color del texto*/
}

.mail{
    position: relative;
    left: 100px;
    top: 80px;
    color: rgb(24, 22, 22);/*color del texto*/
}
.contraseña{
    position: relative;
    left: 100px;
    top: 100px;
    color: rgb(24, 22, 22);/*color del texto*/
}
.boton{
    position: relative;
    left: 165px;/*derecha izquierda*/
    top: 130px;/*arriba abajo*/
    
    color: rgb(24, 22, 22);/*color del texto*/
}

/**+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.nav__ul{
    padding-left: 430px;/*le da espacion a la derecha*/
    
}

.sou{
    padding-bottom: 30px;/*le da espacion a la derecha*/
    
}

*{
    
    font-family: 'Bebas Neue', cursive;
    font-family: 'Comforter', cursive;
    font-family: 'Comforter Brush', cursive;
    font-family: 'Corinthia', cursive;
    font-family: 'Dancing Script', cursive;
    font-family: 'Estonia', cursive;
    font-family: 'Lora', serif;
    
}


.nav__responsive-ul{/*esta funcion es para que elimine la funcionde html de icono 2*/
    display: none;
    
}

/*agregamos el fondo de color de las cajas nav*/
.nav{
    background: #48ee;
}
/*la funcion permite que se ponga una a lado de la otra*/
.nav__li{
    display: inline-block;
    padding: 12px;
    color: #fff;/*se pone color blanco el icono*/
}
/*cuando se los pasemos por encima cambia*/
.nav__li:hover > a{
    color: #ccc;/*se pone color blanco el icono*/
}
/*doble modificacion*/
.nav__li:hover{
    color: #bbb;/*se pone color blanco el icono*/
}
/*es para colorear la letra*/
.nav__li a{
    color: #fff;
    text-decoration: none;
}
/*es el espacio entre letra y contorno y alineamos el centro*/
.nav__li i{
    box-sizing: border-box;
    text-align: right;
    margin-left: 5px;
}
/*donde aparece*/
.nav__responsive-buttom-container {
    position: absolute;
    width: 100%;
    font-size: 130%;
    background: rgb(73, 136, 231);
    margin-top: -74px;/*es para no tapar lo del paddign*/
}
.nav__responsive-buttom {
    padding: 6px 20px;
    text-align: right;
    width: 100%;
}

@media only screen and (max-width:500px) {
    .nav__ul{/*apartir de los 500 px cambia*/
        display: none;
    }
    
    /*es el estilo que lo creamos  es para crear lo de mobile*/
    
    /**/
    .nav{
        height: 37px;
        width: 100%;
        
    }
    /*para que se despligue y se actualice*/
    .nav__li-container{
        position: relative;
        top: calc(100vh -64px);/*viewport heigth*/
    }

    /**/
    .nav__responsive-ul{/*menu de escritorio y de menu de mobile*/
        display: block;
        position: absolute;/*es para que se ponga mas chico y vuele*/
        background-color: #48e;
        height: 100%;
        width: 100%;
        padding-top: 37px;
        padding-top: 37px;
        top: 100%;
    }
    
    .nav__responsive-li{
        width: 100%;
        padding: 9px 20px;/*distancia de la letra*/
        margin-top: 37px;

    }

    .nav__responsive-li i{
    box-sizing: border-box;
    text-align: center;
    margin-left: 5px;
    width: 30px;
    color: #028;/*es la tipografia el color lo cambiamos a este*/
    }
    /*nav*/
    .nav__responsive-li a{
    color: #016;
    text-decoration: none;
    }
/*es para crear que el menu se despliegue*/

}